body {
  background-color: var(--jonprimary);
}

/* Use a unique class for Jonathan's main element to avoid conflicts */

.jon-main {
  background-color: var(--jonsecondary);
}

/* @media (min-width: 1600px) {
  .jon-main {
    flex-direction: row;
    align-items: flex-start;
  }
  .jon-main > article,
  .jon-main > section {
    width: 50%;
  }
  .jon-main > section {
    display: block;
  }
} */
